{% extends 'base.html' %}

{% block title %}User Info{% endblock %}

{% block content %}
<h1 class='display-1 mb-5 text-center'>User Details</h1>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Username</th>
        <th scope="col">{{user.username}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">First Name</th>
        <td>{{user.first_name}}</td>
      </tr>
      <tr>
        <th scope="row">Last Name</th>
        <td>{{user.last_name}}</td>

      </tr>
      <tr>
        <th scope="row">Email</th>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <th class='text-center' scope="row" colspan="2">
            <form action="/users/{{user.username}}/delete" method='POST'>
                <button type='submit' class='btn btn-danger btn-block'>Delete User</button> 
            </form>
        </th>
      </tr>
    </tbody>
  </table>
  <h3 class='display-2 text-center'>Feedback</h3>
  <a href="/users/{{user.username}}/feedback/add" class='btn btn-primary mb-5 btn-lg btn-block'>Add New</a>
  {% for f in user.feedback %}
    <strong><div>{{f.title}}</div></strong>
    <p>{{f.content}}</p>
        <a href="/feedback/{{f.id}}/update" class='btn btn-success d-inline'>Edit</a>
            <form  class='d-inline' action="/feedback/{{f.id}}/delete" method='POST'>
                <button type='submit' class='btn btn-danger'>Delete</button>
            </form>

    
  {% endfor %}
{% endblock %}